body {
	color: white;
	background-color: #228b22;
}
h1 {
	color: #228b22;
	background: #F0E68C;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	float: left;
}
a{
	display: block;
	padding: 10px;
	background:  #F0E68C;
}
p{
	clear: left;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}