body {
background-color: white;
	}
h1 {
	height: 5%;
	color: #004101;
	background: #FFC000;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0; 
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	float: left;
}
.nav-item a{
	display: block;
	padding: 10px;
	background: white;
}
.nav-item a:hover {
	background-color:  #004101;
}
p{
	font-family: 'Contrail One', cursive;
	/*height: 1;*/
	clear: left;
	color: yellow;
	background-color: #004101; 
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.footer {
	
	background-color: #004101;
	border-color: #FFC000;
	color: #FFC000;
	font-size: 16px;
}
form{
	clear: left;
	background-color: #004101;
	color: white;
}
.Coach{
	clear: left;
}
div{
	font-family: 'Contrail One', cursive;
	clear: left;
	color: yellow;
	background-color: #004101; 
}